@{
    ViewData["Title"] = "红人社区";
    Layout = "_Layout";
}

@model Web.Model.Paging.PagingModel<IndexTopicsViewModel>
@section sidebar{
    <div id="sidebar">
        <!--右侧用户面板-->
        <!--用户面板-调用视图组件-显示登陆用户信息-->
        @await Component.InvokeAsync(nameof(UserPanel),new { username = "loginUserName" })

        <!--右侧显示无人回复的话题-->
        <div class="panel">
            <div class="header">
                <span class="col_fade">无人回复的话题</span>
            </div>
            <div class="inner">
                <!--无人回复的话题-调用视图组件-->
                @await Component.InvokeAsync(nameof(ZeroReplySubject))
            </div>
        </div>

        <!--右侧等级用户排行-->
        <div class="panel">
            <div class="header">
                <span class="col_fade">积分榜</span>
                &nbsp;
                <a class="dark" href="@Url.Action("Top100","User")">TOP 100 &gt;&gt;</a>
            </div>
            <div class="inner">
                <!--前10用户-调用视图组件-->
                @await Component.InvokeAsync(nameof(Top10))
            </div>
        </div>
        <!--右侧等级用户排行-->
    </div>
}

<div id="content">
    <div class="panel">
        <!--分类-->
        <div class="header" id="index_header">
            <a href="@Url.Action("Index","Home",new { tab = 0 })" class="topic-tab ">全部</a>
            <a href="@Url.Action("Index","Home",new { tab = 1 })" class="topic-tab ">精华</a>
            <a href="@Url.Action("Index","Home",new { tab = 2 })" class="topic-tab ">分享</a>
            <a href="@Url.Action("Index","Home",new { tab = 3 })" class="topic-tab ">问答</a>
            <a href="@Url.Action("Index","Home",new { tab = 4 })" class="topic-tab ">招聘</a>
        </div>
        <!--首页Tab标签-->
        <script type="text/javascript">
            $(document).ready(function () {
                var $header = $('#index_header');
                var current_tab=@ViewData["tab"];
                var index = 0;
                $header.find('a').each(function () {
                    var $a = $(this);
                    if(current_tab === index){
                        $a.addClass('current-tab');
                    }
                    index++;
                })
            })
        </script>

        <div class="inner no-padding">
            <div id="topic_list">
                <!--以此为一个单元，显示一条主题-->
                <div class="cell">
                    <a class="user_avatar pull-left" href="http://cnodejs.org/user/nswbmw">
                        <img src="~/img/8791709.png" title="nswbmw">
                    </a>
                    <span class="reply_count pull-left">
                        <span class="count_of_replies" title="回复数">
                            75
                        </span>
                        <span class="count_seperator">/</span>
                        <span class="count_of_visits" title="点击数">
                            11638
                        </span>
                    </span>
                    <a class="last_time pull-right" href="http://cnodejs.org/topic/581b0c4ebb9452c9052e7acb#583419f3bde2b59e06141e40">
                        <img class="user_small_avatar" src="~/img/8791709.png">
                        <span class="last_active_time">4 小时前</span>
                    </a>
                    <div class="topic_title_wrapper">
                        <span class="put_top">置顶</span>
                        <a class="topic_title" href="http://cnodejs.org/topic/581b0c4ebb9452c9052e7acb" title="《一起学 Node.js》彻底重写完毕">
                            《一起学 Node.js》彻底重写完毕
                        </a>
                    </div>
                </div>
                <!--以此为一个单元，显示一条主题-->
                @if(Model.ModelList.Count != 0)
                {
                    @foreach(var item in Model.ModelList)
                    {
                        <div class="cell">
                            <a class="user_avatar pull-left" href="@Url.Content($"/User/index/{item.UserId}")">
                                <img src="@Url.Content(item.UserAvatarUrl)" title="@item.UserName">
                            </a>
                            <span class="reply_count pull-left">
                                <span class="count_of_replies" title="回复数">
                                    @item.RepliesCount
                                </span>
                                <span class="count_seperator">/</span>
                                <span class="count_of_visits" title="点击数">
                                    @item.VisitsCount
                                </span>
                            </span>
                            @if(item.RepliesCount > 0)
                            {
                                <a class="last_time pull-right" href="@item.LastReplyUrl">
                                    <img class="user_small_avatar" src="@item.LastReplyUserAvatarUrl">
                                    <span class="last_active_time">@item.LastReplyDateTime</span>
                                </a>
                            }
                            <div class="topic_title_wrapper">
                                @if(item.Type == TopicTypeViewModel.置顶)
                                {
                                    <span class="put_top">置顶</span>
                                }
                                else
                                {
                                    <span class="topiclist-tab">@item.Type</span>
                                }
                                <a class="topic_title" href="@Url.Content($"/Topic/Index/{item.TopicId}")" title="@item.Title">
                                    @item.Title
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="cell">无数据</div>
                }
            </div>

            <!--分页区-->
            <div class="pagination" current_page="1">
                @functions{
                    public string GetUrl(long pageIndex)
                    {
                        return Url.Content($"/Home/Index?pageIndex={pageIndex}");
                    }
                }
                <page paging-info="Model.PagingInfo" page-url="x => GetUrl(x)"></page>
            </div>
            <!--分页区-->
        </div>
    </div>
</div>